@import url(global.css);
@import url(propaganda.css);
@import url(cadastro.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(7, 22, 2);;
}

main{
    width:100%;
    height: 100dvh;
    /* background-color: antiquewhite; */
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

input[type="email"]{
    padding: 10px 5px;
    width: 100%;
    border-radius: 7px;
    border:none;
    background-color: rgba(9, 44, 0, 0.432);
    outline: none;
    font-family: var(--fonte-padrao);
    color: wheat;
    font-style: italic;
    transition: 0.3s ease-in-out;

    &::placeholder{
        color:rgba(245, 222, 179, 0.377);
    }
}

input[type="password"]{
    padding: 10px 5px;
    width: 100%;
    border-radius: 7px;
    border:none;
    background-color: rgba(9, 44, 0, 0.432);
    outline: none;
    color: wheat;
    font-style: italic;
    transition: 0.3s ease-in-out;

    &::placeholder{
        color:rgba(245, 222, 179, 0.377);
    }
}

input[type="email"]:focus, input[type="password"]:focus{
    box-shadow: 0px 8px 7px rgba(12, 12, 12, 0.603);
}

@media(max-width:900px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height:100%;

        & .cadastro1{
            display: flex;
            justify-content: center;
            height: 100dvh;
        }
    }
}

@media(max-width: 500px){
    main .propaganda .caixapropaganda h1{
        font-size: 3rem;
    }

     main .propaganda .caixapropaganda h2{
        font-size: 2rem;
    }

    main .cadastro1{
        padding:0;
        border-radius: 0;
        
        & form{
            border-radius: 0;
            width: 100%;
        }
    }

    .cadastro1 form .arealogin {
    & .mensagem h2 {
        font-size: 1rem;
    }
}
}